<!DOCTYPE html>

<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>job queue</h1>
    <form id="job-form" method="POST" action="/">
      <label for="jobName">Enter the name of the job!</label>
      <input type="text" name="jobName" />
      <label for="jobTime">Enter the duration of the job!</label>
      <input type="text" name="jobTime" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
